.ipt_cn input{
    color:#333 !important;
}

.holderClass{
    margin-left: 33px;
    margin-top: 10px;
    float: left;
    top: 8px;
    color: #ccc;
    font-size: 13px;
}
/*Verification code start*/
.info{
    margin: 2px 1px 2px 1px;
    width: 30px;
    color: #666666;
    font-size: 14px;
}
 #tableVerify {
     width: 240px;
     height: 37px;
 }
#tableVerify #login_strVerify{
     /* background: url(../images/register/input2.png) no-repeat; */
     margin: 2px 6px 2px 0px ;
     color: #888;
     border: 2px solid #ccc;
     font-family: Cantarell, Verdana, sans-serif;
     font-size: 14px;
     width: 76px;
     height: 26px;
     padding: 0 3px;
     /* border-radius: 6px;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px; */
}
 #validateImage{
     width:54px;
     margin-right:2px;
 }
/*Verification code end*/
